.gruposDeItens{
    display: flex;
    flex-flow: row wrap;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.itens {
    display: flex;
    flex-flow: row wrap;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

.botaoVazado button {
    font-size:1.5rem;
}

a:hover{
    text-decoration: none;
}

/* condição até 900px */
@media (max-width: 900px) {
.botaoVazado button {
    font-size:1rem;
}
}

/* condição até 600px */
@media (max-width: 600px) {
.botaoVazado button {
    font-size:0.8rem;
}
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  /*background-color: rgba(255,255,255,0) !important;*/
  font-size: 13px;
  font-family: "Univers Light";
  position: fixed;
  width: 100vw;
  top: 0;
  line-height: 2;
  /*border-bottom: 2px solid black;*/
}

/* condição até 767px */
@media (max-width: 767px) {
.menu {

}
}



.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}


.menu a {
  display: block;
  /*padding: 10px;*/
  /*transition: background-color 1.5s, color 1.5s;*/
}

a {
  color: black;
  text-decoration: none;
  }

.menu a:hover {
  /*background-color: rgb(117, 4, 108);*/
  font-family: "Univers Black";
  /*font-size: 14px;*/
  color: black;
  text-decoration: none;

  /*color: whitesmoke;*/
}

.navbar-light .navbar-toggler {
/*background-color: #82888a;*/
width: auto;
}



@media (max-width: 833px) {
.navbar-expand-md .navbar-nav {
    font-size: smaller ;
}
}

.navbar .container, .navbar .container-fluid, .navbar .container-lg, .navbar .container-md, .navbar .container-sm, .navbar .container-xl {
    align-items: initial !important;
}

.valorTotal h1 {
    font-size: 5em;
}


/* condição até 670px */
@media (max-width: 670px) {
.valorTotal h1 {
    font-size: 3em;
}
}


.botaoVermelho {
display: flex;
justify-content: center;
 width:80%;
 flex-flow: row wrap;
 margin-left: auto;
 margin-right: auto;
}

/* condição até 800px */
@media (min-width: 800px) {
  .botaoVermelho {
 width:75%;
}
}

.praQuemPaga table {
    font-size: 14px;
}


.footer {
  background-color: rgb(255, 255, 204);
  position: relative;
  width: 100%;
  bottom: 0;
  font-size: 0.8em;
  padding-bottom: 15px;
  text-align: center;

}

.textoFooter a {
    font-size: 20px;
}

.footer ul {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

.footer li {
  list-style: none;
  font-weight: bold;
}

.footer span {
  font-size: 20px;
  margin-bottom: 1em;
}

.textoFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
  font-family: "Univers Light";
  font-weight: 100;
}


/* condição até 700px */
@media (max-width: 700px) {
.textoFooter p, .listaContato {
    font-size: 15px;
}

.listaContato {
    flex-direction: column;
    text-align: center;
}

.footer {
    text-align: justify;
}
}

.footer img {
  height: 15px;
}




